/* authorsStyles.css */

.rr {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25vh;
  padding-bottom: 6.8vh;
}

.author-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  width: 400px;
  text-align: center;
}

.author-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333; /* Color del título más oscuro */
}


.author-descip{
  margin-top: 10px;
  color: #333333; /* Color del título más oscuro */
  text-align: justify;

}