/* layoutStyles.css */

/* Estilos para el contenedor principal */
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Altura mínima de la ventana */
}

/* Estilos para el encabezado */
.header {
  flex-shrink: 0; /* No se encogerá para dejar espacio para otros elementos */
}

/* Estilos para el contenido principal */
.main-content {
  flex-grow: 1; /* Crece para llenar el espacio disponible */
}

/* Estilos para el pie de página */
.footer {
  flex-shrink: 0; /* No se encogerá para dejar espacio para otros elementos */
}
