/* loginStyles.css */

.ww{
  width: 100%;
  height: 5vh;
  background-color: #f2f2f2;
}
.login-container {
  display: flex;
  flex-direction: column;
  background-color: #546E7A;
  /* padding-top: 1rem; */
  height: auto;
  text-align: center;
  width: 100%;
  height: 77vh;
  align-items: center;
  justify-content: center;
}

.login-container .title {
  font-size: 2rem;
  color: #b1b5bb;
  font-weight: bold;
  background-color: #546E7A;
}

.login-container .sub_titulo {
  font-size: 0.8rem;
  padding: 0 0 1.5rem 0;
  color: #2b5f76;
  background-color: #546E7A;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #546E7A;
  width: 300px;
}

.login-container form .second {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-self: center;
  background-color: #546E7A;
  width: 100%;
}

.login-container form input {
  border: none;
  outline: none;
  padding: 0.8rem;
  border-bottom: 1px solid #465d68;
  background-color: #fafafa;
  border-radius: 5px;
  color: black;
}

.login-container form input::placeholder {
  color: #465d68;
}

.login-container form button {
  width: 150px;
  padding: 20px;
  border: none;
  background-color: #313d48;
  font-weight: 400;
  color: #fafafa;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  align-self: center;
}

.login-container form button:hover {
  animation: 5s ease-in linear infinite;
  color: #021925;
  background-color: #8fadbd;
}

.login-container p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #0a1c24;
  background-color: #546E7A;
  /* padding-bottom: 20vh; */
}

.login-container .login {
  width: 100%;
}
